@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

html, body{
    height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    width: 100vw;
    
    position: relative;
}

body { 
    overflow-x: hidden; 
}

header{
    display: inline-block;
}

header > h1{
    position: absolute;

    top: 10%;
    left: 15%;
}

header > h2{
    position: absolute;

    top: 10%;
    left: 50%;
}

header > p{
    position: absolute;
    top: 18%;
    left: 50%
}

section#bill{
    position: absolute;
    
    top: 30%;
    left: 15%;
}



section#bill > img{
    width: 200px;
    height: 300px;  
}

section#bill > p{
    position: absolute;
    transform: rotate(90deg);
    width: 130px;

    left: 72%;
    top: 17%;
}

section#soba{
    position: absolute;

    top: 50%;
    left: 40%;
}

section#soba > img{
    width: 200px;
    height: 300px;
}

section#soba > p{
    position: absolute;
    transform: rotate(90deg);
    width: 120px;

    left: 75%;
    top: 16%;
}

section#shae{
    position: absolute;

}

section#shae > img{
    width: 200px;
    height: 300px;
}

section#shae{
    position: absolute;

    top: 30%;
    left: 65%;
}

section#shae > p{
    position: absolute;

    transform: rotate(90deg);
    width: 90px;
    top: 11%;
    left: 82%;
}

section#sky{
    position: absolute;

    top: 100%;
    left: 15%;
}


section#sky > img{
    width: 200px;
    height: 300px;
}

section#sky > p{
    position: absolute;
    width: 110px;
    transform: rotate(90deg);

    top: 14%;
    left: 78%;
    
}

section#griff{
    position: absolute;

    top: 120%;
    left: 40%;
}

section#griff > img{
    width: 200px;
    height: 300px;
}

section#griff > p{
    position: absolute;
    transform: rotate(90deg);
    left: 84%;
    top: 10%;
}

section#stan{
    position: absolute;

    top: 100%;
    left: 65%;
}

section#stan > img{
    width: 200px;
    height: 300px
}

section#stan >p{
    position: absolute;
    transform: rotate(90deg);
    left: 84%;
    top: 10%;
}

@media  screen and (min-width: 320px) and (max-width: 950px){
   
    body{
        background-color: aqua;
    }

    header > h1{  
        top: 5%;
        left: 3%;
    }

    header > h2{
        top: 15%;
        left: 4%;
    }

    header > p{
        top: 21%;
        left: 4.5%;
        text-align: justify;
        font-size: 0.9em;
    }
    
    p{
        font-size: 0.7em
    }

    h3{
        font-size: 0.9em;
    }

    section#bill{
        top: 40%;
        left: 4%;
    }

    section#bill > img{
        width: 150px;
        height: 220px;
    }
    
    section#soba > img{
        width: 150px;
        height: 220px;
    }

    section#shae{
        display: none;
    }

    section#sky{
        display: none;
    }

    section#griff{
        display: none;
    }

    section#stan{
        display: none;
    }

}