@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


* {
    margin: 0px;
    padding: 0px;

}

:root{
    --font01: Verdana, Geneva, Tahoma, sans-serif;
    --font02: 'Passion One', cursive;
    --font03: 'Sriracha', cursive;
}

body{
    font-family: var(--font01);
    min-height: 100vh;
    
    
}

header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--font02);
    
    
}

header h1{
    padding-top: 40px;
    font-size: 10vw;
    font-variant: small-caps;
}

header > p{
    padding-top: 10px;
    padding-bottom: 40px;
}

header > p > a{
    color: white;
    text-decoration: none;
}

header > p > a:hover{
    text-decoration: underline;
    color: aqua;
}

section{
    font-family: var(--font03);
    padding-left: 50px;
    font-size: 3.6vw;
    line-height: 1.9em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    
    
}

section.normal{
    
}

section.modificada{
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
    background-attachment: fixed;
    
}

section.modificada > p{
    background-color: rgba(0, 0, 0, 0.397);
    display: inline-block;
    padding: 10px;
}

section.modificada#img01 {
    background-image: url('imagens/background001.jpg');
    background-size: cover;
    padding: 20px 0px 20px 40px;
    background-position: center center;
    
}

section.modificada#img02{
    background-image: url('imagens/background002.jpg');
    background-size: cover;
    padding: 20px 0px 20px 40px;
    background-position: right top;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-family: var(--font02);
    font-size: larger;
    font-weight: normal;
}