@charset "UTF-8";


/*Configurações gerais*/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

html, body{
    width: 100vw;
    height: 100vh;
}

body{
    background-color: black;
    background-repeat: no-repeat;
}

